<ul>
  <% if archivation.errors.any? %>
    <% archivation.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  <% end %>
</ul>

<%= form_for(
  archivation,
  url: { controller: 'archivations', action: 'create' },
  html: { class: '', role: 'form' }
) do |f| %>

  <div class="input-group">
    <%= f.text_field :url, placeholder: 'URL - example.com', 'aria-label': 'The source URL', class: 'form-control' %>
    <span class="input-group-btn">
      <%= f.submit 'Archive', class: 'btn btn-primary' %>
    </span>
  </div>

  <p>
    <script type="text/javascript">
      function toggleArchivationFormOptions(element) {
        element.remove();

        var optionsForm = document.querySelector('#advanced-archivation-options');
        optionsForm.style.display = 'flex';
        return false;
      }
    </script>
    <a href="#options" alt="Toggle form options" onclick="toggleArchivationFormOptions(this);return false">
      Options
    </a>
  </p>
  <div id="advanced-archivation-options" class="row" style="display:none">
    <div class="col-sm-6">
      <p><strong>Strategy</strong></p>
      <div class="form-group row">
        <div class="col-sm-6">
          <div class="form-check">
            <label class="form-check-label">
              <%= radio_button :archivation, :strategy, :auto, class: 'form-check-input' %>
              Auto
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <%= radio_button :archivation, :strategy, :crawl, class: 'form-check-input' %>
               Crawl
            </label>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="form-check">
            <label class="form-check-label">
              <%= radio_button :archivation, :strategy, :sitemap, class: 'form-check-input' %>
               Sitemap
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <%= radio_button :archivation, :strategy, :urls, class: 'form-check-input' %>
              Single URL
            </label>
          </div>
        </div>
        <small class="form-text text-muted">
          You can specify what strategy we use.
        </small>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="form-group">
        <%= f.text_field :notification_email, placeholder: :notification_email, alt: 'An optional email to send a notification to when the archivation is finished.', class: 'form-control' %>
        <small class="form-text text-muted">Will send you the results when we're done!</small>
      </div>

      <%= f.submit 'Archive', class: 'btn btn-primary btn-block mobile-archivation-submit' %>
    </div>
  </div>
<% end %>
