<br>
<p>
  <strong>Status:</strong> <%= archivation_status_badge(@archivation) %> <br>
  <strong>URL:</strong> <%= link_to(@archivation.url, @archivation.url) %> <br>
  <strong>Strategy:</strong> <%= @archivation.strategy %> <br>
  <strong>URLs archived:</strong> <%= @archivation.stats['total'] %> <br>
</p>

<%= social_share_button_tag("I just archived #{@archivation.url}\n") %>

<hr>
<h3>New archivation</h3>
<%= render 'form', archivation: Archivation.new %>
